<div class="parent-container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="table-header">MANUFACTURER NAME</th>
          <th class="table-header">MODEL NAME</th>
          <th class="table-header">CUR ODOM READ</th>
          <th class="table-header">VEHICLE YEAR</th>
          <th class="table-header">LOCATION NAME</th>
          <th class="table-header">MAX SALE VALUE</th>
          <th class="table-header">DAYS IN STOCK</th>
          <th class="table-header">STATUS</th>
          <th class="table-header">REG NO</th>
          <th class="table-header">SERIES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of vehicleDataList; index as i; first as isFirst">
          <td>{{ data.MANUFACTURER_NAME }}</td>
          <td>{{ data.MODELNAME }}</td>
          <td>{{ data.CUR_ODOM_READ }}</td>
          <td>{{ data.VEHICLEYEAR }}</td>
          <td>{{ data.LOCATIONNAME }}</td>
          <td>{{ data.MAX_SALE_VALUE }}</td>
          <td>{{ data.DAYSINSTOCK }}</td>
          <td>{{ data.STATUS }}</td>
          <td>{{ data.REG_NO }}</td>
          <td>{{ data.SERIES }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
