.filter-component {
  margin: 0px;
  padding: 0px;
  width: 250px;
}

h2 {
  margin: 5px;
  height: fit-content;
  text-decoration: underline;
}

h4 {
  margin: 1px 10px;
}

.button-group {
  height: fit-content;
  display: block;
}
