<div class="filter-component">
  <div class="button-group">
    <h4>Price</h4>
    <app-dropdown-button
      [options]="priceList"
      [type]="'price'"
      (triggerUpdate)="getUpdate($event)"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Year</h4>
    <app-dropdown-button
      [options]="yearList"
      [type]="'year'"
      (triggerUpdate)="getUpdate($event)"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Odo Reading</h4>
    <app-dropdown-button
      [options]="odoReadingList"
      [type]="'odoReading'"
      (triggerUpdate)="getUpdate($event)"
    ></app-dropdown-button>
  </div>
</div>
