<div class="filter-component">
  <div class="button-group">
    <h4>Price</h4>
    <app-dropdown-button
      [options]="priceList"
      [isPrice]="true"
      (triggerUpdate)="getUpdate($event)"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Year</h4>
    <app-dropdown-button
      [options]="yearList"
      [isPrice]="false"
      (triggerUpdate)="getUpdate($event)"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Odo Reading</h4>
    <app-dropdown-button
      [options]="priceList"
      (triggerUpdate)="getUpdate($event)"
    ></app-dropdown-button>
  </div>
</div>
