<div class="filter-component">
  <div class="button-group">
    <h4>Price</h4>
    <app-dropdown-button
      [options]="['option 1', 'option2', 'option 3', 'option 4']"
      [method]="myCallbackFunction"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Year</h4>
    <app-dropdown-button
      [options]="['option 1', 'option2', 'option 3', 'option 4']"
      [method]="myCallbackFunction"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Odo Reading</h4>
    <app-dropdown-button
      [options]="['option 1', 'option2', 'option 3', 'option 4']"
      [method]="myCallbackFunction"
    ></app-dropdown-button>
  </div>
  <div class="button-group">
    <h4>Max Sale Value</h4>
    <app-dropdown-button
      [options]="['option 1', 'option2', 'option 3', 'option 4']"
      [method]="myCallbackFunction"
    ></app-dropdown-button>
  </div>
</div>
